<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="row justify-content-center">
                <div class="col-10">                
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of items; let i = index">
                            <td *ngIf="!item.editing">{{ item.name }}</td>
                            <td *ngIf="!item.editing">{{ item.lastname }}</td>
                            <td *ngIf="!item.editing">{{ item.email }}</td>
                            <td *ngIf="!item.editing">{{ item.phone }}</td>
                            <td *ngIf="!item.editing">{{ item.address }}</td>
                            <td *ngIf="!item.editing">
                                <a class="edit" title="Edit" (click)="editItem(i)" data-toggle="tooltip"><i class="material-icons text-secondary">edit</i></a>
                                <a class="delete" title="Delete" (click)="deleteItem(i)" data-toggle="tooltip"><i class="material-icons text-secondary">delete</i></a>
                            </td>
                            <td *ngIf="item.editing">
                                <input type="text" [(ngModel)]="item.name">
                            </td>
                            <td *ngIf="item.editing">
                                <input type="text" [(ngModel)]="item.lastname">
                            </td>
                            <td *ngIf="item.editing">
                                <input type="text" [(ngModel)]="item.email">
                            </td>
                            <td *ngIf="item.editing">
                                <input type="text" [(ngModel)]="item.phone">
                            </td>
                            <td *ngIf="item.editing">
                                <input type="text" [(ngModel)]="item.address">
                            </td>
                            <td *ngIf="item.editing">
                                <a (click)="saveItem(i)"><i class="material-icons text-success">docs_add_on</i></a>
                            </td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row justify-content-center">
               
                <div class="col-10">
                    <button type="button" class="btn btn-secondary add-new" (click)="addItem()"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>



        </div>
    </div>
</div>
