<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="row justify-content-center">
                <div class="col-10">                
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of users; let i = index">
                            <td *ngIf="!user.editing">{{ user.name }}</td>
                            <td *ngIf="!user.editing">{{ user.lastname }}</td>
                            <td *ngIf="!user.editing">{{ user.email }}</td>
                            <td *ngIf="!user.editing">{{ user.phone }}</td>
                            <td *ngIf="!user.editing">{{ user.address }}</td>
                            <td *ngIf="!user.editing">
                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons text-secondary">edit</i></a>
                                <a class="delete" title="Delete" (click)="deleteUser(i)" data-toggle="tooltip"><i class="material-icons text-secondary">delete</i></a>
                            </td>
                            <td *ngIf="user.editing">
                                <input type="text" [(ngModel)]="user.name">
                            </td>
                            <td *ngIf="user.editing">
                                <input type="text" [(ngModel)]="user.lastname">
                            </td>
                            <td *ngIf="user.editing">
                                <input type="text" [(ngModel)]="user.email">
                            </td>
                            <td *ngIf="user.editing">
                                <input type="text" [(ngModel)]="user.phone">
                            </td>
                            <td *ngIf="user.editing">
                                <input type="text" [(ngModel)]="user.address">
                            </td>
                            <td *ngIf="user.editing">
                                <a (click)="saveUser(i)"><i class="material-icons text-success">docs_add_on</i></a>
                            </td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row justify-content-center">
               
                <div class="col-10">
                    <button type="button" class="btn btn-secondary add-new" (click)="addUser()"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>



        </div>
    </div>
</div>
