.header{
    height: 300px;
}


.vwrap{
    overflow: hidden;
    height: 400px;
}

.vmove{
    position: relative;
    bottom: 0%;
}

.vslide{
    height: 400px;
}

@keyframes slidev {
    0% { bottom: 0%; }
    30% { bottom: 0%; }
    33% { bottom: 100%; }
    63% { bottom: 100%; }
    66% { bottom: 200%; }
    99% { bottom: 200%; }
    100% { bottom: 0%; }

}

.vmove { animation: slidev linear 15s infinite }
.vmove:hover { animation-play-state: paused;}


.vslide h1{
    font-size: 2rem;
    color: var(--bs-light);
    line-height: 1.2;
}

.vslide p, li{
    font-size: 1.3rem;
    line-height: 1.6;
    color: var(--bs-secondary);
}