<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
</head>
<body>
    <h1>Navigation</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis itaque voluptatem, incidunt odit nam sapiente ea porro iusto quibusdam aliquid voluptas repellat. Eaque minus magni fuga beatae mollitia quia ut.</p>

    <h1>Footer</h1>
</body>
</html>